{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} About{% endblock head_title %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
<style>
    .fa-tiktok {
        color: #111111;

        filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
    }
</style>
{% endblock extra_styles %}

{% block content %}

<!-- start Header -->
    {% include 'app_core/snippets/header_section.html' %}
<!-- end Header -->

<!-- start Banner -->
    {% include 'app_core/snippets/banner_contact.html' %}
<!-- end Banner -->

<!-- start Contact -->
    {% include 'app_core/snippets/contact_section.html' %}
<!-- end Contact -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonials -->

<!-- start Contact -->
    {% include 'app_core/snippets/contact.html' %}
<!-- end Contact -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}