{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Home{% endblock head_title %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<!-- <style>
    .fa-tiktok {
        color: #be1319;

        filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
    }
    .fa-tiktok:hover {
        color: white;
    }
</style> -->
{% endblock extra_styles %}

{% block content %}

<!-- start Header -->
    {% include 'app_core/snippets/header.html' %}
<!-- end Header -->

<!-- start Banner -->
    {% include 'app_core/snippets/banner.html' %}
<!-- end Banner -->

<!-- start About -->
    {% include 'app_core/snippets/about.html' %}
<!-- end About -->

<!-- start Social Media -->
{% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Services -->
    {% include 'app_core/snippets/services.html' %}
<!-- end Services -->

<!-- start Counters -->
    {% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Works -->
    {% include 'app_core/snippets/works_section.html' %}
<!-- end Works -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonials -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/partners.html' %}
<!-- end Testimonials -->

<!-- start Contact -->
    {% include 'app_core/snippets/contact.html' %}
<!-- end Contact -->

{% endblock content %}

{% block extra_javascript %}
    <script>
        Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options for a specific gallery
        });
    </script>
{% endblock extra_javascript %}