{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Home{% endblock head_title %}

{% block extra_styles %}
<!-- <style>
    .fa-tiktok {
        color: #be1319;

        filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
    }
    .fa-tiktok:hover {
        color: white;
    }
</style> -->
{% endblock extra_styles %}

{% block content %}

<!-- start Header -->
    {% include 'app_core/snippets/header.html' %}
<!-- end Header -->

<!-- start Banner -->
    {% include 'app_core/snippets/banner.html' %}
<!-- end Banner -->

<!-- start About -->
    {% include 'app_core/snippets/about.html' %}
<!-- end About -->

<!-- start Social Media -->
{% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Services -->
    {% include 'app_core/snippets/services2.html' %}
<!-- end Services -->

<!-- start Counters -->
    {% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Works -->
    {% include 'app_core/snippets/works_section.html' %}
<!-- end Works -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonials -->

<!-- start Google Business -->
    {% include 'app_core/snippets/google_business.html' %}
<!-- end Google Business -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/partners.html' %}
<!-- end Testimonials -->

<!-- start Contact -->
    {% include 'app_core/snippets/contact.html' %}
<!-- end Contact -->

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}