{% load static %}

<!-- About us -->
<section id="aboutus" class="padding_top padding_bottom">
    <div class="container aboutus">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 padding_bottom_half">
            {% if about.image %}
                <div class="image"><img alt="SEO" src="{{about.image.url}}"></div>
            {% else %}
                <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/aboutus.jpg' %}"></div>
            {% endif %}
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6 padding_bottom_half text-center text-md-left">
                <h2 class="defaultcolorblack font-normal bottom30">About Us<span class="defaultcolor"></span></h2>
                <p class="bottom35"> {{about.about | safe}} </p>
                
            </div>
        </div>
        <div class="row  align-items-center">
            <div class="col-lg-6  col-md-6 padding_top_half text-center text-md-left">
                <h2 class="defaultcolorblack font-normal bottom30">Mission <span class="defaultcolor"></span> </h2>
                <p class="bottom35"> {{about.mision | safe}} </p>
            </div>
            <div class="col-lg-6  col-md-6 padding_top_half text-center text-md-left">
                <h2 class="defaultcolorblack font-normal bottom30">Vision <span class="defaultcolor"></span> </h2>
                <p class="bottom35"> {{about.vision | safe}} </p>
            </div>
        </div>
    </div>
</section>
<!-- About us ends -->