<!-- About start -->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center heading-title">
                <span class="defaultcolor">Basic Info About Company</span>
                <h2 class="darkcolor text-capitalize bottom30 heading-title-small">a Roofing Company in EEUU</h2>
            </div>
            <div class="col-md-10 offset-md-1 text-center heading_space">
                <p> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</p>
            </div>
        </div>
        <div class="row text-center about-row">
            <div class="col-md-4 col-sm-12 wow fadeInLeft about-box">
                <span class="flaticon flaticon-idea"></span>
                <h3 class=" m-0 darkcolor">Start Project</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp about-box active">
                <span class="flaticon flaticon-hook"></span>
                <h3 class=" m-0 darkcolor">Construction</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInRight about-box">
                <span class="flaticon flaticon-house"></span>
                <h3 class=" m-0 darkcolor">Completion</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
        </div>
    </div>
</section>
<!-- About ends -->