{% load static %}

<!--Main Slider-->
<section id="main-banner-area" class="position-relative section-nav-smooth">
    <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="vertical-bullets" class="rev_slider fullwidthabanner white vertical-tpb" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slide-img2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <!-- <img src="video/thumb.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina> -->
                    <div class="overlay overlay-customercolor opacity-10"></div>
                    {% if banner.image %}
                        <img src="{{ banner.image.url }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    {% else %}
                        <img src="{% static 'app_core/construction/images/banner-1.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    {% endif %}
                    <!-- LAYERS -->
                    <!-- Overlay -->
                    <div class="overlay overlay-customercolor opacity-10"></div>
                    <!-- <div class="rs-background-video-layer"
                         data-forcerewind="on"
                         data-volume="mute"
                         data-videowidth="100%"
                         data-videoheight="100vh"
                         data-videomp4="video/video.mp4"
                         data-videopreload="auto"
                         data-videoloop="loopandnoslidestop"
                         data-forceCover="1"
                         data-aspectratio="16:9"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="false"></div> -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-55','-30','-30','-20']"
                         data-whitespace="nowrap" data-responsive_offset="on"
                         data-width="['none','none','none','none']" data-type="text"
                         data-textalign="['center','center','center','center']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:1;s:50;e:Power3.easeOut;"
                         data-transform_out="s:50;e:Power3.easeInOut;s:50;e:Power3.easeInOut;"
                         data-start="50" data-splitin="none" data-splitout="none">
                        <h2 class="font-xlight whitecolor">
                        {% if banner.title %}
                            {{banner.title}}
                        {% endif %}
                        </h2>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['20','40','50','45']"
                         data-whitespace="nowrap" data-responsive_offset="on"
                         data-width="['none','none','none','none']" data-type="text"
                         data-textalign="['center','center','center','center']" data-fontsize="['24','24','18','16']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="900" data-splitin="none" data-splitout="none">
                        <h2 class="whitecolor">
                        {% if banner.subtitle %}
                            {{banner.subtitle}}
                        {% endif %}
                        </h2>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['90','100','120','100']"
                         data-whitespace="nowrap" data-responsive_offset="on"
                         data-width="['none','none','none','none']" data-type="text"
                         data-textalign="['center','center','center','center']" data-fontsize="['24','24','18','16']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1600" data-splitin="none" data-splitout="none">
                        <p class="font-light text-capitalize whitecolor" style="font-size: 18px;">{{banner.description}}</p>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['170','180','200','200']"
                         data-width="['500','500','500','500']" data-textalign="['center','center','center','center']" data-type="text"
                         data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <a id="whatsapp_banner_web" class="button transition-3 btn-whatsapp font-13 button-padding" target="_blank" href="https://web.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://www.ideafix.com/ " rel="noopener noreferrer">
                            <i class="whatsapp-icon"></i> Whatsapp 
                        </a>
                        <a id="whatsapp_banner_movil" class="button transition-3 btn-whatsapp font-13 button-padding" target="_blank" href="https://api.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://www.ideafix.com.co/ " rel="noopener noreferrer">
                            <i class="whatsapp-icon"></i> Whatsapp 
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="social-icons social-icons-simple revicon white" data-wow-delay="300ms">
        {% for social in social_media %}
            <li class="d-table"><a href="{{social.url}}" class="{{social.link_class}}" target="_blank"><i class="{{social.icon_class}}"></i> </a> </li>
        {% endfor %}
    </ul>
</section>
<!--Main Slider ends -->