<!-- Contact US -->
<section id="stayconnect1" class="bglight position-relative padding_top padding_bottom_half noshadow">
    <div class="container whitebox">
        <div class="widget py-5">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms">
                    <h2 class="heading bottom30 defaultcolorblack font-light2 pt-1"><span
                            class="font-weight-bold">Contact</span> Us
                        <span class="divider-center"></span>
                    </h2>
                    <div class="col-md-8 offset-md-2 bottom35">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium,
                            omnis provident quam reiciendis voluptatum?</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 order-sm-2">
                    <div class="contact-meta px-2 text-center text-md-left">
                        <div class="heading-title heading_small">
                            <span class="defaultcolorcustomer mb-3">M2J Roofing</span>
                            <h3 class="defaultcolorblack font-normal mb-4">Our Miami Agency</h3>
                        </div>
                        <p class="bottom10">Address: {{contact.location}}</p>
                        <p class="bottom10">{{contact.phone1}}</p>
                        <!-- <p class="bottom10">{{contact.phone2}}</p> -->
                        <p class="bottom10"><a href="mailto:polpo@MegaOneagency.co.uk">{{contact.email}}</a></p>
                        <p class="bottom10">Mon-Fri: 9am-5pm</p>
                        <ul class="social-icons mt-4 mb-4 mb-sm-0 wow fadeInUp no-border" data-wow-delay="300ms">
                            <li><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="heading-title  wow fadeInUp" data-wow-delay="300ms">
                        <form class="getin_form wow fadeInUp" data-wow-delay="400ms" id="contact-form-data">
                            <div class="row px-2">
                                <div class="col-md-12 col-sm-12" id="result"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="name1" class="d-none"></label>
                                        <input class="form-control" id="name1" type="text" placeholder="Name:" required
                                            name="userName">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="email" id="email1" placeholder="Email:"
                                            name="userEmail">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="message1" class="d-none"></label>
                                        <textarea class="form-control" id="message1" placeholder="Message:" required
                                            name="userMessage"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="submit_btn1"
                                        class="btn button btn-red w-100 contact_btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 60px;">
            <div class="col-lg-4 col-md-4">
                <div class="widget text-center top60 w-100 p-0">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolorcustomer"><i class="fas fa-mobile-alt"></i></span>
                        <p class="bottom0"><a href="tel:+14046000396">{{contact.phone1}}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="widget text-center top60 w-100 p-0">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolorcustomer"><i class="fas fa-map-marker-alt"></i></span>
                        <p class="bottom0">{{contact.location}} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="widget text-center top60 w-100 p-0">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolorcustomer"><i class="far fa-envelope"></i></span>
                        <p class="bottom0"><a href="mailto:admin@website.com">{{contact.email}}</a></p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-3">
                <div class="widget text-center top60 w-100 p-0">
                    <div class="contact-box">
                        <span class="icon-contact bluecolor"><i class="far fa-clock"></i></span>
                        <p class="bottom15">UTC−05:00 <span class="d-block">UTC+01:00</span></p>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="widget py-5">
            <div class="row">

                <div style="width: 100%">
                    <iframe 
                        width="100%" 
                        height="600" 
                        frameborder="0" 
                        scrolling="no"
                        marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=4.140280,-73.615966&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        <a
                            href="https://www.gps.ie/car-satnav-gps/">GPS car tracker
                        </a>
                    </iframe>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Contact US ends -->