<!-- Counters -->
<section id="bg-counters" class="padding bgdefault darkcolor">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                <div class="counters top10 bottom10">
                    <span class="count_nums font-light" data-to="{{indicators.number1}}" data-speed="2500"> </span> <span style="font-size: 5rem; vertical-align: middle;">%</span>
                </div>
                <h3 class="font-light top20">{{indicators.title1}}</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                <div class="counters top10 bottom10">
                    <span class="count_nums font-light" data-to="{{indicators.number2}}" data-speed="2500"> </span> <span style="font-size: 5rem; vertical-align: middle;">%</span>
                </div>
                <h3 class="font-light top20">{{indicators.title2}}</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                <div class="counters top10 bottom10">
                    <span class="count_nums font-light" data-to="{{indicators.number3}}" data-speed="2500"> </span> <span style="font-size: 5rem; vertical-align: middle;">%</span>
                </div>
                <h3 class="font-light top20">{{indicators.title3}}</h3>
            </div>
        </div>
    </div>
</section>
<!-- Counters ends-->