<!-- Faq -->
<section id="ourfaq" class="bglight position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animated wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 defaultcolorblack font-light2">Frequently Asked <span class="font-weight-bold">Questions</span>
                    <span class="divider-center"></span>
                </h2>
                <div class="col-md-8 offset-md-2">
                    <p class="heading_space">Welcome to the M2J Construction LLC FAQ section, where we aim to address your inquiries and provide valuable insights into our construction and roofing services. Whether you're curious about choosing the right roofing material or seeking assistance in emergency situations, our FAQ section offers clear answers. Explore the information below to gain a better understanding of our commitment to professionalism, quality, and client satisfaction. If you have further questions, reach out to our expert team for assistance.</p>
                </div>
            </div>
            <h2 class="d-none">Tabs</h2>
            <div class="col-md-12 col-sm-12">
                <div id="accordion">
                {% for faq in faqs %}
                    {% if forloop.counter == 1 %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link darkcolor" data-toggle="collapse" href="#collapse{{ forloop.counter }}">{{faq.title}}</a>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <p>{{faq.description | safe}}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapse{{ forloop.counter }}">{{faq.title}}</a>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>{{faq.description | safe}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq ends -->