{% load static %}

<!-- Partners-->
<section id="our-partners" class="padding bglight">
    <div class="container">
        <div class="row">
            <h2 class="d-none">Partners Carousel</h2>
            <div class="col-md-12 col-sm-12">
                <div id="partners-slider" class="owl-carousel">
                    
                    {% for partner in partners %}
                        <div class="item">
                            {% if partner.image %}
                                {% if partner.url %}
                                    <a href="{{partner.url}}" target="_blank">
                                        <div class="logo-item"> <img alt="" src="{{partner.image.url}}"></div>    
                                    </a>
                                {% else %}
                                    <div class="logo-item"> <img alt="" src="{{partner.image.url}}"></div>
                                {% endif %}
                            {% else %}
                                <div class="logo-item"> <img alt="" src="{% static 'app_core/construction/images/logo-1.png' %}"></div>
                            {% endif %}
                        </div>    
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partners ends-->