{% load static %}

<!-- Services us -->
<section id="our-services" class="padding_top padding_bottom_half bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-12 col-md-12">
                
                <div class="widget heading_space_half text-center text-md-left">
                    <h3 class="defaultcolorblack font-normal bottom30">{{privacy.title}}</h3>
                    <p class="bottom30"> {{privacy.description}} </p>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->