{% load static %}

<!-- Our Blogs -->
<section id="our-blog" class="bglight padding_top padding_bottom_half">
    <div class="container">
        <div id="blog-measonry" class="cbp">
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-1.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service One</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Feb 14</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> Peter </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>8</a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-2.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service Two</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Sep 16</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> John </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>17 </a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-3.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service Three</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Jan 13</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> David </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>8 </a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-5.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service Four</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Apr 14</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> Harry </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>6 </a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-4.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service Five</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Mar 14</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> Sonia </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>19 </a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cbp-item">
                <div class="news_item shadow text-center text-md-left">
                    <a class="image" href="news-detail.html">
                        <img src="{% static 'app_core/construction/images/news-5.jpg' %}" alt="Latest News" class="img-responsive">
                    </a>
                    <div class="news_desc news_desc_bg_blue">
                        <h3 class="text-capitalize font-normal darkcolor bottom35"><a href="news-detail.html">Service Six</a></h3>
                        <!-- <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Sep 26</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> Varun </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>12 </a></li>
                        </ul> -->
                        <p class="bottom35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
                        <a href="news-detail.html" class="button btn-yellow">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <ul class="pagination justify-content-center top55 mb-4 mb-md-0 mb-sm-3">
                    <li class="page-item"><a class="page-link disabled" href="#."><i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#.">1</a></li>
                    <li class="page-item"><a class="page-link" href="#.">2</a></li>
                    <li class="page-item"><a class="page-link" href="#.">3</a></li>
                    <li class="page-item"><a class="page-link" href="#."><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
</section>
<!--Our Blogs Ends-->