{% load static %}

<!-- Services us -->
<section id="our-services" class="padding_top padding_bottom_half bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-12 col-md-12">
                
                <div class="widget heading_space_half text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">Finacial Planning</h3>
                    <p class="bottom30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                    <p class="bottom30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="owl-carousel" id="service-detail">
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-1.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-2.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-3.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-4.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-5.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-6.jpg' %}"></div>
                        </div>
                    </div>
                </div>

                <div class="widget heading_space_half text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">Finacial Planning</h3>
                    <p class="bottom30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                    <p class="bottom30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="owl-carousel" id="service-detail2">
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-1.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-2.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-3.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-4.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-5.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-6.jpg' %}"></div>
                        </div>
                    </div>
                </div>

                <div class="widget heading_space_half text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">Finacial Planning</h3>
                    <p class="bottom30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                    <p class="bottom30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="owl-carousel" id="service-detail3">
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-1.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-2.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-3.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-4.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-5.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/service-6.jpg' %}"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->