{% load static %}

<!-- Services us -->
<section id="our-services" class="padding bglight">
    <div class="container">
        <div class="col-md-12 text-center heading_space wow fadeIn" data-wow-delay="300ms">
            <h2 class="heading bottom30 defaultcolorblack font-light2"><span class="font-weight-bold">Our</span> Services
                <span class="divider-center"></span>
            </h2>
            <div class="col-md-8 offset-md-2">
                <!-- <p class="mb-n3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p> -->
            </div>
        </div>
        <!-- <div id="services-filter" class="cbp-l-filters dark bottom40 wow fadeIn d-table mx-auto" data-wow-delay="350ms">
            <div data-filter="*" class="cbp-filter-item">
                <span>All</span>
            </div>
            <div data-filter=".digital" class="cbp-filter-item">
                <span>Digital</span>
            </div>
            <div data-filter=".design" class="cbp-filter-item">
                <span>Design</span>
            </div>
            <div data-filter=".brand" class="cbp-filter-item">
                <span>Brand</span>
            </div>
            <div data-filter=".graphics" class="cbp-filter-item">
                <span>Graphics</span>
            </div>
        </div> -->
        <div id="services-measonry" class="cbp">
           {% for service in servicios %}
            <div class="cbp-item digital brand design">
                    <div class="services-main">
                        <div class="image bottom10">
                            <div class="image">
                                <a href="{% url 'app_core:services_view' service.id %}">
                                    {% if service.image %}
                                        <img alt="SEO" src="{{ service.image.url }}">
                                    {% else %}
                                        <img alt="SEO" src="{% static 'app_core/construction/images/service-1.jpg' %}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="overlay">
                                <a href="{% url 'app_core:services_view' service.id %}" class="overlay_center border_radius"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="services-content brand text-center text-md-left">
                            <h3 class="bottom10 defaultcolorblack"><a href="{% url 'app_core:services_view' service.id %}">{{service.title}}</a></h3>
                            <!-- <p class="bottom15">Phasellus lorem enim, luctus ut velit eget, convallis egestas eros.
                                Sed ornare ligula Progressively generate synergistic eget.
                            </p> -->
                            <a href="{% url 'app_core:services_view' service.id %}" class="button-readmore">Learn More</a>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>
</section>
<!-- Services us ends -->