
{% load static %}

<!-- Testimonials -->
<section id="our-testimonial" class=" padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor">Testimonials And Feedback</span>
                    <h2 class="darkcolor font-normal">What People Say</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="owl-carousel" id="testimonial-slider">
            <!--item 1-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center mb-2">
                        <div class="testimonial-round mb-3 d-inline-block">
                            <img src="{% static 'app_core/construction/images/testimonial-1.jpg' %}" alt="">
                        </div>
                        <h4 class="darkcolor"><a href="#.">Sarah Connor</a></h4>
                        <p class="text-ligher">New York, USA</p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="testi-text">
                            <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 2-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center mb-2">
                        <div class="testimonial-round mb-3 d-inline-block">
                            <img src="{% static 'app_core/construction/images/testimonial-2.jpg' %}" alt="">
                        </div>
                        <h4 class="darkcolor"><a href="#.">John Wick</a></h4>
                        <p class="text-ligher">Sydney, Australia</p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="testi-text">
                            <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 3-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center mb-2">
                        <div class="testimonial-round mb-3 d-inline-block">
                            <img src="{% static 'app_core/construction/images/testimonial-3.jpg' %}" alt="">
                        </div>
                        <h4 class="darkcolor"><a href="#.">Leo Messi</a></h4>
                        <p class="text-ligher">Paris, France</p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="testi-text">
                            <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 4-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center mb-2">
                        <div class="testimonial-round mb-3 d-inline-block">
                            <img src="{% static 'app_core/construction/images/testimonial-4.jpg' %}" alt="">
                        </div>
                        <h4 class="darkcolor"><a href="#.">Frida Kahlo</a></h4>
                        <p class="text-ligher">Berlin, Germany</p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="testi-text">
                            <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonials end-->