
{% load static %}

<!-- Testimonials -->
<section id="our-testimonial" class=" padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor">Testimonials And Feedback</span>
                    <h2 class="darkcolor font-normal">What People Say</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="owl-carousel" id="testimonial-slider">
            
            {% for testimonial in testimonials %}
                <div class="item testi-box">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center mb-2">
                            <div class="testimonial-round mb-3 d-inline-block">
                                
                                {% if testimonial.image %}
                                    <img src="{{ testimonial.image.url }}" alt="">
                                {% else %}
                                    <div class="image"><img alt="SEO" src="{% static 'app_core/construction/images/user.png' %}"></div>
                                {% endif %}
                                    
                            </div>
                            <h4 class="darkcolor"><a href="#.">{{testimonial.name}}</a></h4>
                            <p class="text-ligher">{{testimonial.location}}</p>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="testi-text">
                                <p>{{testimonial.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--testimonials end-->