<!-- WOrk Process-->
<section id="about" class="padding bglight">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center heading-title">
                <span class="defaultcolor">Why Us</span>
                <h2 class="darkcolor text-capitalize bottom30 heading-title-small">What makes us different?</h2>
            </div>
            <!-- <div class="col-md-10 offset-md-1 text-center heading_space">
                <p> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</p>
            </div> -->
        </div>
        <div class="row text-center about-row">
            <div class="col-md-4 col-sm-12 wow fadeInLeft about-box">
                <span><i class="fas fa-gears icono-grande"></i></span>
                <h3 class=" m-0 darkcolor">Experience</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp about-box active">
                <span><i class="fas fa-city icono-grande"></i></span>
                <h3 class=" m-0 darkcolor">Quality</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInRight about-box">
                <span><i class="fas fa-handshake icono-grande"></i></span>
                <h3 class=" m-0 darkcolor">Commitment</h3>
                <span class="hr-line mt-2 mb-4"></span>
                <p> Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy. </p>
            </div>
        </div>
    </div>
</section>
<!--WOrk Process ends-->